@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100vh; /* Гарантирует, что тело будет занимать хотя бы 100% высоты экрана */
    margin: 0; /* Убираем стандартные отступы */
}

html {
    background-image: url('/images/Background.svg'); /* Указываем путь к изображению */
    background-size: cover; /* Заставляет изображение покрывать весь экран */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Запрещает повторение изображения */
}

nextjs-portal {
    display: none;
}
